<mat-toolbar class="header-container">
  <div class="logo-btn">
    <img class="header-logo" src="../../../assets/img/Haulio-Logo_Red.png">
  </div>
  <span class="spacer"></span>
  <button mat-icon-button  class="noti-icon">
    <mat-icon fontSet="material-icons-outlined"  class="material-icons-outlined">notifications</mat-icon>
  </button>
  <button mat-icon-button class="exit-icon">
    <mat-icon fontSet="material-icons-outlined"  class="material-icons-outlined">logout</mat-icon>
  </button>
</mat-toolbar>

